node_modules
.next
out
build
coverage

.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

.git
.gitignore
.vscode
.idea
Dockerfile
.dockerignore
README.md

*.log
*.tsbuildinfo
next-env.d.ts
