PUBLIC_HOST=3.138.37.212

FRONTEND_HOST_PORT=3030
BACKEND_HOST_PORT=3001
POSTGRES_HOST_PORT=5436
RABBITMQ_HOST_PORT=5672
RABBITMQ_MGMT_HOST_PORT=15672

POSTGRES_USER=healthflow
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB=healthflow

RABBITMQ_USER=healthflow
RABBITMQ_PASSWORD=troque-esta-senha

JWT_SECRET=troque-esta-chave-com-algo-aleatorio-longo
JWT_EXPIRES_IN=1d
