PUBLIC_HOST=localhost

FRONTEND_HOST_PORT=3030
BACKEND_HOST_PORT=3001
POSTGRES_HOST_PORT=5436
RABBITMQ_HOST_PORT=5672
RABBITMQ_MGMT_HOST_PORT=15672

POSTGRES_USER=healthflow
POSTGRES_PASSWORD=healthflow
POSTGRES_DB=healthflow

RABBITMQ_USER=healthflow
RABBITMQ_PASSWORD=healthflow

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d
